<template>
    <div>
        <button v-if="!isLoggedIn" @click="login">Login</button>
        <p v-if="isLoggedIn"> {{ profileData.name }} </p>
        <p> {{ isLoggedIn }} </p>
        <button v-if="isLoggedIn" @click="logout">Logout</button>

    </div>
</template>

<script>
import { OidcClient } from "oidc-client-ts"

const url = window.location.origin

export const settings = {
    authority: "https://gitlab.steveazz.xyz",
    client_id: "467cb532b8d7ea4783052392f79b3a4561f8c6fdc84480c7f4cf2b8b8f87ce19",
    redirect_uri: url + "/pkce-demo-cell/callback",
    post_logout_redirect_uri: url,
    response_type: "code",
    scope: "openid",
    loadUserInfo: true,
};

var client = new OidcClient(settings);
export default {
    data() {
        return {
            isLoggedIn: false,
            profileData: null
        }
    },

    mounted() {
        console.log("mounted")
        if (window.location.pathname == '/pkce-demo-cell/callback') {
            client.processSigninResponse(window.location.href)
                .then(
                     (ress) =>{
                        console.log(ress)
                        this.isLoggedIn = true
                        this.profileData = ress.profile
                        window.history.replaceState({}, null, window.location.origin);
                    }
                )
                .catch(function (error) { console.error(error) })
        }
    },

    methods: {
        login(event) {
            client.createSigninRequest({}).then(function (req) {
                window.location = req.url;
            }).catch(function (err) {
                console.error(err);
            });
        },
        logout() {
            this.isLoggedIn = false,
            this.profileData =  null
        }
    }
}
</script>

<style lang="scss" scoped>
</style>
